/*ARTICLE*/
.article {
    background: #131E2F; 
    //box-shadow: 0px 0px 20px $violet;

    padding: 1rem 1.5rem;
    border-radius: 20px;
}

.article__titre {
    text-align: center;
    padding: 1rem 0;
}

.article__btns {
    display: flex;
    justify-content: space-between;
}

.article__btns button {
    margin: 0.5rem 0;
}

.article__date {
    margin: 1rem 0;
}

.article-info {
    display: flex;
    justify-content: space-between;
}

.article-info__texte {
    width: 60%;
    margin-right: 1rem;
}

.bloc-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.article-info__img {
    width: 22rem;
    margin: 1rem;
}

.footer-article {
    display: flex;
    flex-direction: row-reverse;
}

.footer-article a {
    margin: 0 0.5rem;
}